<div class="wrapper" id="products-wrapper">
  <div class="content">
    <div class="title">
      <h1>{{'DODATNI.dodatni'|translate|uppercase}} <span>{{'DODATNI.proizvodi'|translate|uppercase}}</span></h1>
      <p>
        {{'DODATNI.dodatniTxt'|translate}}
      </p>

     <!-- <h1>BRVNO <span>BRVNO</span></h1>
      <p>
        brvno 1: Debljine 42mm , duzine od 3000 do 4000mm
        sirine od 120mm do 160 mm
        jedan nut i jedan falc
      </p>
      <p>
        brvno 2: Debljine 70mm , duzine od 3000 do 4000mm
        sirine od 120mm do 160 mm
        dupli nut i dupli falc
      </p>
      <div class="container">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi4.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi5.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi6.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi7.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi8.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi9.png" alt="">
      </div>-->
      <!--<h1>BRODSKI <span>POD</span></h1>
      <p>
        Drveni podovi su vec dugo vremena veoma popularni kako u enterijerima tako i u eksterijerima. Jedan od razloga je dobro slaganje
        sa modernim tendencijama u arhitekturi i unutrasnjem oblikovanju i dizajnu prostora sto ga u dizajnerskom smislu cini veoma
        pozeljnim materijalom. Mada jedan od najvaznijih razloga za popularnost drvenih podova lezi u cinjenici da je drvo prirodan
        materijal i samim tim veoma zdrava opcija za podove, kao i za namestaj i druge elemente u kuci. Brodski pod se sastoji od punog
        drveta smreke. Ove vrste podnih obloga nude topao i prijatan efekat u vasem domu. Lamperija i brodski pod ukras su mnogih domova,
        objekata i ustanova, bilo da njima oblazemo podove ili zidove... </p>
      <p>Brodski pod :
      </p>
      <ul>
        <li>Debljina od 17 do 20 mm</li>
        <li>Sirina od 100 do 140 mm</li>
        <li>Duzina od 3000 do 5000m m</li>
      </ul>
      <div class="container">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi10.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi11.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi12.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi13.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi14.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi15.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi16.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi17.png" alt="">
      </div>-->

    <!--  <p>FASADNA <span>OBLOGA</span></p>
      <ul>
        <li>200 mm debljine</li>
        <li>sirina od 120 mm do 140.5 mm sirine</li>
        <li>od 3000 do 5000 mm duzine</li>
        <li>debljina preklopnog nuta 120 mm</li>
      </ul>
      <div class="container">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi18.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi19.png" alt="">
      </div>-->

    <!--  <h1>DEKING <span>DEKING</span></h1>
      <p>Oblaganje spoljasnjih zidova u celosti ili samo dela, ucinice da vas projekat odise prirodnom toplinom i elegancijom. Razliciti
        oblici drvenih fasadnih obloga, razlicitih dimenzija i kombinacija sa drugim materijalima nude bogate mogucnosti za isticanje
        individualnosti vaseg objekta. Deking ima siroku primenu koristi se za izradu deking platformi, ograda, fasada, pergola cak i
        namestaja.
      </p>
      <div class="container">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi20.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi21.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi22.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi23.png" alt="">
      </div>-->

<!--      <h1>PODOVI <span>PODOVI</span></h1>-->
<!--      <div class="container">-->
<!--        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi24.png" alt="">-->
<!--        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi25.png" alt="">-->
<!--        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi26.png" alt="">-->
<!--      </div>-->

      <!--<h1>OGRADA<span>OGRADA</span></h1>
      <div class="container">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi27.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi28.png" alt="">
      </div>
      <h1>PERGOLA <span>PERGOLA</span></h1>
      <div class="container">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi29.png" alt="">
        <img src="/assets/images/dodatni-proizvodi/dodatniproizvodi30.png" alt="">
      </div>-->
    </div>

    <div class="all-products">
      <!-- SINGLE PRODUCT -->
      <div class="product">
        <div class="product-text">
          <h1>{{'DODATNI.poluoblica'|translate|uppercase}}</h1>
          <p>
            {{'DODATNI.poluoblicaTxt'|translate}}
          </p>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.poluOblica"></ngx-gallery>
        </div>
      </div>
      <!-- SINGLE PRODUCT -->
      <div class="product product-left">
        <div class="product-text">
          <h1>{{'DODATNI.brvno'|translate|uppercase}} </h1>
          <p>
            {{'DODATNI.brvnoTxt'|translate}}
          </p>
          <p>
            {{'DODATNI.brvnoTxt2'|translate}}
          </p>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.brvno"></ngx-gallery>
        </div>
      </div>

      <div class="product">
        <div class="product-text">
          <h1>{{'DODATNI.brodski'|translate|uppercase}} <span>{{'DODATNI.pod'|translate|uppercase}}</span></h1>
          <p>
            {{'DODATNI.brodskiTxt'|translate}}</p>
          <p>{{'DODATNI.brodski'|translate}} {{'DODATNI.pod'|translate}}:
          </p>
          <ul>
            <li>{{'DODATNI.brodski1'|translate}}</li>
            <li>{{'DODATNI.brodski2'|translate}}</li>
            <li>{{'DODATNI.brodski3'|translate}}</li>
          </ul>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.brodskiPod"></ngx-gallery>
        </div>
      </div>

      <div class="product product-left">
        <div class="product-text">
          <p>{{'DODATNI.fasadna'|translate|uppercase}} <span>{{'DODATNI.obloga'|translate|uppercase}}</span></p>
          <ul>
            <li>{{'DODATNI.fasadna1'|translate}}</li>
            <li>{{'DODATNI.fasadna2'|translate}}</li>
            <li>{{'DODATNI.fasadna3'|translate}}</li>
            <li>{{'DODATNI.fasadna4'|translate}}</li>
          </ul>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.fasadnaObloga"></ngx-gallery>
        </div>
      </div>

      <div class="product">
        <div class="product-text">
          <h1>{{'DODATNI.deking'|translate|uppercase}}</h1>
          <p>{{'DODATNI.dekingTxt'|translate}}
          </p>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.deking"></ngx-gallery>
        </div>
      </div>

      <div class="product product-left">
        <div class="product-text">
          <h1>{{'DODATNI.podovi'|translate|uppercase}}</h1>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.podovi"></ngx-gallery>
        </div>
      </div>

      <div class="product">
        <div class="product-text">
          <h1>{{'DODATNI.ograda'|translate|uppercase}}</h1>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.ograde"></ngx-gallery>
        </div>
      </div>

      <div class="product product-left">
        <div class="product-text">
          <h1>{{'DODATNI.pergola'|translate|uppercase}}</h1>
        </div>
        <div class="product-gallery">
          <ngx-gallery [options]="galleryOptions" [images]="productPictures.pergola"></ngx-gallery>
        </div>
      </div>

    </div>

  </div>
</div>

