<div class="wrapper">
  <div class="header-wrapper">
    <img src="../../../../assets/images/headergallery.png">
    <div class="header">
      <div class="text">
        <div class="left">
          <h3>GALERIJA PAVAS KOMPANIJE</h3>
          <p>
            GALERIJA NEKIH OD NASIH <br>
            SKORASNJIH PROJEKATA
          </p>
        </div>
        <div class="right">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div class="ribbon">
        <img src="../../../../assets/images/footer/footer-ribbon.png" alt="ribbon">
      </div>
    </div>
  </div>
  <div class="content">
    <gallery
      [metadataUri]="'../../../../assets/img/gallery/data.json'"
      [flexBorderSize]="3"
      [flexImageSize]="7"
      (viewerChange)="change($event)"
    >
    </gallery>
  </div>
</div>
