<div class="wrapper">
  <div class="info"></div>
  <div class="content"></div>
</div>
<div class="wrapper-content">
  <div class="content">
    <mat-tab-group>
      <mat-tab [label]="'TECH.tab1'|translate">
        <div class="tehnology">
          <div class="left">
            <h3 style="padding-bottom: 20px">
              {{'MENU.technology'|translate|uppercase}}
            </h3>
            <p style="padding-right: 20px" [innerHTML]="'TECH.TechDetails'|translate">

            </p>
          </div>
          <div class="right">
            <h3>{{'TECH.wallSection'|translate}}</h3>
            <mat-tab-group>
              <mat-tab label="Klasik">
                <img src="../../../../assets/images/presekzida.png">
                <h4>{{'TECH.fasada'|translate}}</h4>
                <ul>
                  <li *ngFor="let name of klasik">
                    <div class="circule"></div>
                    {{name.name}}
                  </li>
                </ul>
                <h5>{{'TECH.ukupnaDebljina'|translate}}: 237.5 mm</h5>
                <p>
                  {{'TECH.sviElementi'|translate}}
                </p>
              </mat-tab>
              <mat-tab label="Premuim">
                <img src="../../../../assets/images/presekzida.png">
                <h4>{{'TECH.fasada'|translate}}</h4>
                <ul>
                  <li *ngFor="let name of premium">
                    <div class="circule"></div>
                    {{name.name}}
                  </li>
                </ul>
                <h5>{{'TECH.ukupnaDebljina'|translate}}: 307.5 mm</h5>
                <p>
                  {{'TECH.sviElementi'|translate}}
                </p>
              </mat-tab>
              <mat-tab label="Modern">
                <img src="../../../../assets/images/presekzida.png">
                <h4>{{'TECH.fasada'|translate}}</h4>
                <ul>
                  <li *ngFor="let name of modern">
                    <div class="circule"></div>
                    {{name.name}}
                  </li>
                </ul>
                <h5>{{'TECH.ukupnaDebljina'|translate}}: 381.5 mm</h5>
                <p>
                  {{'TECH.sviElementi'|translate}}
                </p>
              </mat-tab>
              <mat-tab label="Pasiv">
                <img src="../../../../assets/images/presekzida.png">
                <h4>{{'TECH.silikatna'|translate}} {{'TECH.fasada'|translate}}</h4>
                <ul>
                  <li *ngFor="let name of modern">
                    <div class="circule"></div>
                    {{name.name}}
                  </li>
                </ul>
                <h5>{{'TECH.ukupnaDebljina'|translate}}: 459.5 mm</h5>
                <p>
                  {{'TECH.sviElementi'|translate}}
                </p>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </mat-tab>
      <!--<mat-tab label="UKLJUČENO U PONUDU SIVA GRADNJA I KLJUČ U RUKE">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          &lt;!&ndash;- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" &ndash;&gt;

          &lt;!&ndash; Position Column &ndash;&gt;
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Broj. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          &lt;!&ndash; Name Column &ndash;&gt;
          <ng-container matColumnDef="fase">
            <th mat-header-cell *matHeaderCellDef> Faza izrade </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          &lt;!&ndash; Weight Column &ndash;&gt;
          <ng-container matColumnDef="gray">
            <th mat-header-cell *matHeaderCellDef> Uključeno u ponudu siva faza </th>
            <td mat-cell *matCellDef="let element"> <i class="{{element.correct}}"></i> </td>
          </ng-container>

          &lt;!&ndash; Symbol Column &ndash;&gt;
          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> Uključeno u ponudu ključ u ruke </th>
            <td mat-cell *matCellDef="let element"> <i class="{{element.incorrect}}"></i>  </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="alert">
          <p>VARIJANTA 1 SIVA FAZA bez unutrašnjih zanatskih radova temelja i ploče</p>
          <p>VARIJANTA 2 KLJUĆ U RUKE bez temelja i ploče</p>
          <p><span>NAPOMENA</span><i class="fas fa-times"></i> radovi i materijali koji se mogu naknadno ugovoriti!</p>
        </div>
      </mat-tab>-->
    </mat-tab-group>
  </div>
</div>
